<meta charset="utf-8">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ page.title }} | {{ site.blog.title }}</title>
  {% if page.keywords %}<meta name="keywords" content="{{ page.title }},{{ site.blog.title }},{{ site.blog.description }},{{ page.keywords }}">{% endif %}
  <meta name="description" content="{{ page.title }},{{ site.blog.title }},{{ site.blog.description }},{{ page.keywords }}">
  {% if page.index == true %}<link rel="canonical" href="{{ site.blog.url }}">{% else %}<link rel="canonical" href="{{ site.blog.url }}{{ page.url }}">{% endif %}
  {% if page.index == true %}<meta name="msvalidate.01" content="9A3D1885B1F2FF03165559FC13703DA8" />
  <meta name="sogou_site_verification" content="k5bkT2kEdA"/>
  <meta name="baidu-site-verification" content="K22Gr2bEEr" />
  <meta name="360-site-verification" content="c4098bc367cb5827456c18383798c531" />
  <meta name="google-site-verification" content="tlCqLLY6Xm50qkvmeSim8EPEM1lZO8jmLZT-AINMMAs" />{% endif %}
  <link rel="shortcut icon" href="{{ site.favicon }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/font-awesome.css">
  <link rel="stylesheet" href="/public/js/prettify/prettify.css">
  <link rel="stylesheet" href="/public/css/base.css">
  <link href="/pages/atom.xml" rel="alternate" title="{{site.blog.title}}" type="application/atom+xml">
